<html>

<head>

<title>TESTGR</title>

{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.3/dist/semantic.min.css">

</head>

<body>

<div class="ui grid">

    <div class="sixteen wide column">
        <div class="ui fixed menu">
            <div class="item">
                <h3><a href="{%  url 'index' %}">TESTGR</a></h3>
            </div>
            <a href="{%  url 'index' %}" class="item">Monitoring</a>
            <a href="{%  url 'search' %}" class="item">Search</a>
            <a href="{%  url 'history' %}" class="item active">History</a>
            {% if request.user.is_staff %}
            <a href="{%  url 'management' %}" class="item">Management</a>
            {% else %}
            <a href="{%  url 'about_guest' %}" class="item">About</a>
            {% endif %}
            <div class="right menu" id="main_right_menu">
                {% if running_jobs_count > 0 %}
                <div class="item" id="running_jobs_count">
                <span>Active jobs: <strong>{{ running_jobs_count }}</strong></span>
                </div>
                {% else %}
                <div class="" id="running_jobs_count">
                </div>
                {% endif %}
                <div class="item">
                    <a href="https://github.com/and-sm/testgr" target="_blank">Github</a>
                </div>
            <a href="{%  url 'logout' %}" class="item">Logout</a>
            </div>
        </div>
	</div>

    <div class="sixteen wide column">
        <p>&nbsp;</p>
    </div>

    <div class="one wide column">
    </div>

    <div class="fourteen wide column"><h3>History</h3>
                <div class="ui divider"></div>
    </div>

    <div class="one wide column">
    </div>


    <div class="one wide column">
    </div>

    <div class="fourteen wide column">

        <div class="eight wide column">
        <table class="ui selectable celled table">
            <thead>
            <tr>
                <th>Stop DateTime</th>
                <th>Time taken</th>
                <th>Environment</th>
                <th>Job status</th>
            </tr>
            </thead>
            <tbody id="latest_jobs">
            {% for job in job_objects %}
            <tr onclick="window.open('{% url 'job' job_uuid=job.uuid %}', '_blank')">
                <td>{{ job.get_stop_time }}</td>
                <td>{{ job.get_time_taken }}</td>
                <td>{{ job.get_env }}</td>
                <td>
                    {% if job.status == 2 %}<span class="ui green basic label">Passed</span>
                    {% elif job.status == 3 %}<span class="ui red basic label">Failed</span>
                    {% elif job.status == 4 %}<span class="ui yellow basic label">Stopped</span>
                    {% elif job.status == 5 %}<span class="ui yellow basic label">Skipped</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            {% if job_objects.has_other_pages %}
                <tr><th colspan="5">
                    <div class="ui left floated pagination menu">
                        {% if job_objects.has_previous %}
                            <a class="icon item" href="?page=1">
                                <i class="angle double left icon"></i>
                            </a>
                            <a class="icon item" href="?page={{ job_objects.previous_page_number }}">
                                <i class="angle left icon"></i>
                            </a>
                        {% else %}
                            <a class="icon item disabled">
                                <i class="angle double left icon"></i>
                            </a>
                            <a class="icon item disabled">
                                <i class="angle left icon"></i>
                            </a>
                        {% endif %}

                        {% for i in job_objects.paginator.page_range %}
                            {% if job_objects.number == i %}
                                <a class="item"><strong>{{ i }}</strong></a>
                            {% else %}
                                <!-- Show current page and +-3 pages -->
                                {% if i|add:"-2" <= job_objects.number and job_objects.number <= i|add:"2" %}
                                    <a class="item" href="?page={{ i }}">{{ i }}</a>
                                {% elif i == job_objects.paginator.num_pages %}
                                    <a class="item" href="?page={{ i }}">{{ i }}</a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if job_objects.has_next %}
                            <a class="icon item" href="?page={{ job_objects.next_page_number }}">
                                <i class="angle right icon"></i>
                            </a>
                            <a class="icon item" href="?page={{ job_objects.paginator.num_pages }}">
                                <i class="angle double right icon"></i>
                            </a>
                        {% else %}
                            <a class="icon item disabled">
                                <i class="angle right icon"></i>
                            </a>
                            <a class="icon item disabled">
                                <i class="angle double right icon"></i>
                            </a>
                        {% endif %}
                    </div>
                </th>
                </tr>
            {% endif %}
            </tfoot>
        </table>
    </div>

    </div>

    <div class="one wide column">
    </div>

</div>

</body>

<script type="application/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.3/dist/semantic.min.js"></script>

<script type="application/javascript" src="{% static 'js/testgr/main/running_jobs_count.js' %}"></script>

</html>