django==4.0.7
django-anymail==8.5
channels==3.0.4
channels-redis==3.4.0
gunicorn==20.1.0
daphne==3.0.2
requests==2.27.1
mysqlclient==2.1.0
redis==4.2.2
djangorestframework==3.13.1
argon2-cffi==21.3.0
Pillow==9.1.0
python-magic==0.4.25
celery==5.2.6