django==3.1.5
django-anymail==8.1
channels==3.0.3
channels-redis==3.2.0
gunicorn==20.0.4
daphne==3.0.1
requests==2.25.1
mysqlclient==2.0.3
redis==3.5.3
djangorestframework==3.12.2
argon2-cffi==20.1.0
Pillow==8.1.0