<html>

<head>

<title>TESTGR</title>

{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.semanticui.min.css">

<style>

.table{
 display:none;
}

.ui.darkred.label,.ui.darkred.labels .label {
    background-color: #a62525 !important;
    border-color: #a62525!important;
    color: #fff!important;
}
.ui.darkred.labels .label:hover,a.ui.darkred.label:hover{
    background-color: #952424 !important;border-color:#952424!important;color:#fff!important
}

.ui.darkred.corner.label,.ui.darkred.corner.label:hover{
    background-color:transparent!important
}

.ui.darkred.ribbon.label{
    border-color:#b21e1e!important
}

.ui.basic.darkred.label{
    background:none #fff!important;color:#a62525!important;border-color:#a62525!important
}

.ui.basic.darkred.labels a.label:hover,a.ui.basic.darkred.label:hover{
    background-color:#fff!important;color:#d01919!important;border-color:#d01919!important
}

</style>

</head>

<body>

<div class="ui grid">

	<div class="sixteen wide column">
        <div class="ui fixed menu">
            <div class="item">
                <h3><a href="{%  url 'index' %}">TESTGR</a></h3>
            </div>
            <a href="{%  url 'index' %}" class="item">Monitoring</a>
            <a href="{%  url 'search' %}" class="item active">Search</a>
            <a href="{%  url 'history' %}" class="item">History</a>
            {% if request.user.is_staff %}
            <a href="{%  url 'management' %}" class="item">Management</a>
            {% else %}
            <a href="{%  url 'about_guest' %}" class="item">About</a>
            {% endif %}
            <div class="right menu" id="main_right_menu">
                {% if running_jobs_count > 0 %}
                <div class="item" id="running_jobs_count">
                <span>Active jobs: <strong>{{ running_jobs_count }}</strong></span>
                </div>
                {% else %}
                <div class="" id="running_jobs_count">
                </div>
                {% endif %}
                <div class="item">
                    <a href="https://github.com/and-sm/testgr" target="_blank">Github</a>
                </div>
            <a href="{%  url 'logout' %}" class="item">Logout</a>
            </div>
        </div>
	</div>

    <div class="sixteen wide column">
        <p>&nbsp;</p>
    </div>

    <div class="one wide column">
    </div>

    <div class="fourteen wide column"><h3>Search</h3>
                <div class="ui divider"></div>
    </div>

    <div class="one wide column">
    </div>

    <div class="one wide column">
    </div>

    <div class="fourteen wide column">

        <!--<div class="ui raised segment">-->

            <div class="ui grid">

                {% comment %}
                OLD Select
                <div class="two wide column">
                    <div class="ui form"><div class="field"><label for="environments">Environment</label>
                        <select id="environments" class="ui fluid dropdown">
                            <option value="">Select Environment</option>
                            <option value="all">ALL</option>
                            {% for item in environments %}
                                {% if item.name %}
                                {% if item.remapped_name %}
                                <option value="{{ item.name }}">{{ item.remapped_name }}</option>
                                {% else %}
                                <option value="{{ item.name }}">{{ item.name }}</option>
                                {% endif %}
                                {% else %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div></div>
                </div>
                {% endcomment %}

                <div class="four wide column">
                    <div class="ui form">
                        <div class="field"><label>Environment</label>
                            <div class="ui fluid search selection dropdown">
                                <input type="hidden" name="environments">
                                <i class="dropdown icon"></i>
                                <div class="default text">Select environment</div>
                                <div class="menu">
                                    <div class="item" data-value="all">ALL</div>
                                    {% for item in environments %}
                                        {% if item.name %}
                                            {% if item.remapped_name %}
                                                <div class="item" data-value="{{ item.name }}">{{ item.remapped_name }}</div>
                                            {% else %}
                                                 <div class="item" data-value="{{ item.name }}">{{ item.name }}</div>
                                            {% endif %}
                                        {% else %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% comment %}
                <div class="four wide column"><div class="ui form">
                    <div class="field"><label for="tests">Test</label>
                        <select id="tests" class="ui fluid dropdown">
                            <option value="">Select Test</option>
                            <option value="all">ALL</option>
                            {% for item in tests %}
                                <option value="{{ item.test }}">{{ item.test }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                </div>
                {% endcomment %}

                <div class="four wide column">
                    <div class="ui form">
                        <div class="field"><label>Test</label>
                            <div class="ui fluid search selection dropdown">
                                <input type="hidden" name="tests">
                                <i class="dropdown icon"></i>
                                <div class="default text">Select test</div>
                                <div class="menu">
                                    <div class="item" data-value="all">ALL</div>
                                    {% for item in tests %}
                                        <div class="item" data-value="{{ item.test }}">{{ item.test }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="four wide column">
                    <div class="ui form">
                        <div class="field"><label>Custom data key</label>
                            <div class="ui fluid search selection dropdown">
                                <input type="hidden" name="c_data_k">
                                <i class="dropdown icon"></i>
                                <div class="default text">Select custom data key</div>
                                <div class="menu">
                                    <div class="item" data-value="all">ALL</div>
                                    {% for item in c_data_k %}
                                        <div class="item" data-value="{{ item }}">{{ item }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="four wide column">
                    <div class="ui form">
                            <div class="field">
                                <label for="c_data_v">Custom data value</label>
                                <input type="text" name="c_data_v" id="c_data_v" placeholder="Custom data value">
                            </div>
                    </div>
                </div>

                <div class="two wide column"></div>

                {% comment %}

                <!-- http://jsfiddle.net/how84rzj/27 -->

                <div class="four wide column"><div class="ui form">
                    <div class="field"><label>Select Test statuses</label>
                        <button class="ui green tiny button">Passed</button>
                        <button class="ui red tiny button">Failed</button>
                        <button class="ui yellow tiny button">Skipped</button>
                        <button class="ui red tiny button">Aborted</button>
                    </div>
                </div>
                </div>
                {% endcomment %}

            </div>

    </div>


    <div class="one wide column">
    </div>


    <div class="sixteen wide column center aligned page grid">
                    <button class="ui button" id="clear_btn">Clear</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="positive ui button" id="filter_btn">Search</button>
    </div>

    <div class="one wide column">
    </div>

    <div class="fourteen wide column">

        <table id="filter_results_table" class="ui selectable celled table" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Stop DateTime</th>
                <th>Time Taken</th>
                <th>Environment</th>
                <th>Tests</th>
            </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
            <tr>
                <th>Stop DateTime</th>
                <th>Time Taken</th>
                <th>Environment</th>
                <th>Tests</th>
            </tr>
            </tfoot>
        </table>

    </div>

    <div class="one wide column">
    </div>


</div>

</body>

<script type="application/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.semanticui.min.js" type="text/javascript"></script>

<script type="application/javascript" src="{% static 'js/testgr/main/running_jobs_count.js' %}"></script>


<script>
$('.ui.dropdown')
  .dropdown({
      fullTextSearch:'exact'
  });
</script>

<script>

$('#filter_btn').click(function(event){


    event.preventDefault();

    let environments = $('input[name=environments]').val();
    let tests = $('input[name=tests]').val();
    let c_data_k = $('input[name=c_data_k]').val();
    let c_data_v = $('input[name=c_data_v]').val();

    let table = $('#filter_results_table').show().DataTable( {
        lengthMenu: [[10, 20, 50], [10, 20, 50]],
        sorting: false,
        ordering: false,
        pageLength: 10,
        destroy: true,
        ajax: {
            "type" : "POST",
            "url" : "{% url 'filter_data' %}",
            "data": {
                'environments': environments,
                'tests': tests,
                'c_data_k': c_data_k,
                'c_data_v': c_data_v,
            },
            "dataSrc": function ( json ) {
                return json.data;
            }
        },
        columns: [
            { "data": "Stop DateTime" },
            { "data": "Time Taken" },
            { "data": "Environment" },
            { "data": "Tests" }
        ],
        "rowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            let id = aData.uuid;
            $(nRow).click(function() { window.open("/job/" + id + "/", "_blank")})
        },
        columnDefs: [
            { targets: 'no-sort',
                orderable: false
            }
        ]
    } );

})
</script>

<script>
$('#clear_btn').click(function(event){

    event.preventDefault();

    $('.ui.dropdown').dropdown('clear');
})
</script>

</html>