<html>

<head>

<title>TESTGR</title>

{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">

</head>

<body>

<div class="ui grid">

	<div class="sixteen wide column">
        <div class="ui fixed menu">
            <div class="item">
                <h3><a href="{%  url 'index' %}">TESTGR</a></h3>
            </div>
            <a href="{%  url 'index' %}" class="item">Monitoring</a>
            <a href="{%  url 'search' %}" class="item">Search</a>
            <a href="{%  url 'history' %}" class="item">History</a>
            {% if request.user.is_staff %}
            <a href="{%  url 'management' %}" class="item active">Management</a>
            {% else %}
            <a href="{%  url 'about_guest' %}" class="item active">About</a>
            {% endif %}
            <div class="right menu" id="main_right_menu">
                {% if running_jobs_count > 0 %}
                <div class="item" id="running_jobs_count">
                <span>Active jobs: <strong>{{ running_jobs_count }}</strong></span>
                </div>
                {% else %}
                <div class="" id="running_jobs_count">
                </div>
                {% endif %}
                <div class="item">
                    <a href="https://github.com/and-sm/testgr" target="_blank">Github</a>
                </div>
            <a href="{%  url 'logout' %}" class="item">Logout</a>
            </div>
        </div>
	</div>

    <div class="sixteen wide column">
        <p>&nbsp;</p>
    </div>

    <div class="one wide column">
    </div>

    <div class="{% if request.user.is_staff %}three{% else %}two{% endif %} wide column">
    {% if request.user.is_staff %}
        <h3>Management</h3>
        <div class="ui divider"></div>
        <div class="ui secondary vertical menu">
            <a class="item" href="{% url 'management' %}">Environments</a>
            <a class="item" href="{% url 'users' %}">Users</a>
            <a class="item active" href="{% url 'about' %}">About</a>
        </div>
    {% endif %}
    </div>

    <div class="eleven wide column">
        <h3>About</h3>
        <div class="ui divider"></div>

        <p><strong>Installed version:</strong> {{ version }}</p>
        {% if latest_version != version %}
        <p><strong>Latest version: </strong><strong>
            <a href="https://github.com/and-sm/testgr" target="_blank">{{ latest_version }}</a>.
            <label style="color: indianred"> Update if needed.</label></strong></p>
        {% else %}
        <p><strong>Latest version: </strong>{{ latest_version }}</p>
        {% endif %}

    </div>

    <div class="one wide column">
    </div>

</div>

</body>

<script type="application/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>

<script type="application/javascript" src="{% static 'js/testgr/main/running_jobs_count.js' %}"></script>

</html>