<html>

<head>

<title>TESTGR</title>

{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">

</head>

<body>

<div class="ui grid">

	<div class="sixteen wide column">
        <div class="ui fixed menu">
            <div class="item">
                <h3><a href="{%  url 'index' %}">TESTGR</a></h3>
            </div>
            <a href="{%  url 'index' %}" class="item active">Monitoring</a>
            <a href="{%  url 'search' %}" class="item">Search</a>
            <a href="{%  url 'history' %}" class="item">History</a>
            <a href="{%  url 'management' %}" class="item active">Management</a>
            <div class="right menu" id="main_right_menu">
                {% if running_jobs_count > 0 %}
                <div class="item" id="running_jobs_count">
                <span>Active jobs: <strong>{{ running_jobs_count }}</strong></span>
                </div>
                {% else %}
                <div class="" id="running_jobs_count">
                </div>
                {% endif %}
                <div class="item">
                    <a href="https://github.com/and-sm/testgr" target="_blank">Github</a>
                </div>
            <a href="{%  url 'logout' %}" class="item">Logout</a>
            </div>
        </div>
	</div>

    <div class="sixteen wide column">
        <p>&nbsp;</p>
    </div>

    <div class="one wide column">
    </div>

    <div class="three wide column">
        <h3>Management</h3>
        <div class="ui divider"></div>
        <div class="ui secondary vertical menu">
            <a class="item active">Environments</a>
            {% if user.is_superuser or user.is_staff %}<a class="item" href="{% url 'users' %}">Users</a>{% endif %}
            <a class="item" href="{% url 'about' %}">About</a>
        </div>
    </div>

    <div class="eleven wide column">
        <h3>Environments</h3>
        <div class="ui divider"></div>

        <div class="ui message">
            Here you can remap name of your environments. Original name will remain untouched and can be restored.
        </div>

        <table class="ui very basic collapsing celled table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Remapped name</th>
            </tr></thead>
            <tbody>
            {% for env in envs %}
            <tr>
                <td>
                    <h4 class="ui image header">
                        <div class="content">
                            {{ env.name }}
                        </div>
                    </h4>
                </td>
                <td data-id="remapped_name_{{ env.pk }}">
                <h4 class="ui image header">
                    {% if not env.remapped_name %}
                        <div class="field">
                            <div class="ui action input">
                                <div class="ui button" data-create-btn="{{ env.pk }}">Create mapped name</div>
                            </div>
                        </div>
                    {% else %}
                        <div class="field">
                            <div class="ui action input">
                                <input type="text" data-rename-input="{{ env.pk }}" value="{{ env.remapped_name }}"
                                       placeholder="{{ env.remapped_name }}"/>
                                <div class="ui button" data-rename-btn="{{ env.pk }}">Rename</div>
                                <div class="ui button" data-delete-btn="{{ env.pk }}">Delete</div>
                            </div>

                        </div>
                    {% endif %}
                </h4>
                </td>
            <td>



            </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="one wide column">
    </div>

</div>

</body>

<script type="application/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>

<script>
$("div[data-create-btn]").click(function () {
    var button_id = $(this).data("create-btn");
    $(this).before("<input type=\"text\" data-create-input=" + button_id + " placeholder=\" \"/>");
    $(this).after("<div class=\"ui button\" data-save-btn=" + button_id + ">Rename</div>");
    $(this).attr( "data-create-btn-to-delete", "0" );
    $(this).removeAttr("data-create-btn");
    $("div[data-create-btn-to-delete]").remove();
    $("div[data-save-btn]").click(function () {
        var new_name = $("input[data-create-input=" + button_id + "]").val();
        $.ajax({
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            url: "/api/environment/" + button_id + "/",
            type: "POST",
            data: {'id': button_id, 'new_name': new_name},
            success : function() {
                alert("Saved!");
                location.reload();
            },
            error: function() {
            alert("Name can't be saved while job with the same environment is running!");
            location.reload();
        }
        });
    });
})
</script>
<script>
$("div[data-rename-btn]").click(function () {
    var button_id = $(this).data("rename-btn");
    var new_name = $("input[data-rename-input=" + button_id + "]").val();
    $.ajax({
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        url: "/api/environment/" + button_id + "/",
        type: "POST",
        data: {'id': button_id, 'new_name': new_name},
        success: function() {
            alert("Saved!");
            location.reload();
        },
        error: function() {
            alert("Name can't be saved while job with the same environment is running!");
            location.reload();
        }
    });
});
</script>
<script>
$("div[data-delete-btn]").click(function () {
    var button_id = $(this).data("delete-btn");
    $.ajax({
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        url: "/api/environment/" + button_id + "/",
        type: "POST",
        data: {'id': button_id, 'delete': 'true'},
        success: function() {
            alert("Deleted!");
            location.reload();
        },
        error: function() {
            alert("Name can't be deleted while job with the same environment is running!");
            location.reload();
        }
    });
});
</script>

<script type="application/javascript" src="{% static 'js/testgr/main/running_jobs_count.js' %}"></script>

</html>