<html>

<head>

<title>TESTGR</title>

{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">

</head>

<body>

<div class="ui grid">

	<div class="sixteen wide column">
        <div class="ui fixed menu">
            <div class="item">
                <h3><a href="{%  url 'index' %}">TESTGR</a></h3>
            </div>
            <a href="{%  url 'index' %}" class="item">Monitoring</a>
            <a href="{%  url 'search' %}" class="item">Search</a>
            <a href="{%  url 'history' %}" class="item">History</a>
            <a href="{%  url 'management' %}" class="item active">Management</a>
            <div class="right menu" id="main_right_menu">
                {% if running_jobs_count > 0 %}
                <div class="item" id="running_jobs_count">
                <span>Active jobs: <strong>{{ running_jobs_count }}</strong></span>
                </div>
                {% else %}
                <div class="" id="running_jobs_count">
                </div>
                {% endif %}
                <div class="item">
                    <a href="https://github.com/and-sm/testgr" target="_blank">Github</a>
                </div>
            <a href="{%  url 'logout' %}" class="item">Logout</a>
            </div>
        </div>
	</div>

    <div class="sixteen wide column">
        <p>&nbsp;</p>
    </div>

    <div class="one wide column">
    </div>

    <div class="three wide column">
        <h3>Management</h3>
        <div class="ui divider"></div>
        <div class="ui secondary vertical menu">
            <a class="item" href="{% url 'management' %}">Environments</a>
            <a class="item active" href="{% url 'users' %}">Users</a>
            <a class="item" href="{% url 'about' %}">About</a>
        </div>
    </div>

    <div class="eleven wide column">
        <h3>Add user</h3>
        <div class="ui divider"></div>

    <div class="ui grid">
    <div class="six wide column">

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <form method="post" class="ui form">
            {% csrf_token %}
            <div class="field">
                <label>{{ form.username.label }}</label>
                {{ form.username }}
            </div>
            <div class="field">
                <label>{{ form.password.label }}</label>
                {{ form.password }}
            </div>
            <div class="field">
                <label>{{ form.confirm_password.label }}</label>
                {{ form.confirm_password }}
            </div>
            <div class="field">
            <div class="ui checkbox">
                {{ form.staff }}
                <label>{{ form.staff.label }}</label>
            </div>
            </div>
            <input type="submit" class="ui button" value="Submit">
        </form>
    </div>

    <div class="six wide column">
    </div>
    </div>

    </div>

    <div class="one wide column">
    </div>

</div>

</body>

<script type="application/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>

<script>
$("div[data-create-btn]").click(function () {
    var button_id = $(this).data("create-btn");
    $(this).before("<input type=\"text\" data-create-input=" + button_id + " placeholder=\" \"/>");
    $(this).after("<div class=\"ui button\" data-save-btn=" + button_id + ">Rename</div>");
    $(this).attr( "data-create-btn-to-delete", "0" );
    $(this).removeAttr("data-create-btn");
    $("div[data-create-btn-to-delete]").remove();
    $("div[data-save-btn]").click(function () {
        var new_name = $("input[data-create-input=" + button_id + "]").val();
        $.ajax({
            url: "/api/environment/" + button_id + "/",
            type: "POST",
            data: {'id': button_id, 'new_name': new_name},
            success : function() {
                alert("Saved!");
                location.reload();
            }
        });
    });
})
</script>
<script>
$("div[data-rename-btn]").click(function () {
    var button_id = $(this).data("rename-btn");
    var new_name = $("input[data-rename-input=" + button_id + "]").val();
    $.ajax({
        url: "/api/environment/" + button_id + "/",
        type : "POST",
        data: {'id': button_id, 'new_name': new_name},
        success : function() {
            alert("Saved!");
            location.reload();
        }
    });
});
</script>
<script>
$("div[data-delete-btn]").click(function () {
    var button_id = $(this).data("delete-btn");
    $.ajax({
        url: "/api/environment/" + button_id + "/",
        type : "POST",
        data: {'id': button_id, 'delete': 'true'},
        success : function() {
            alert("Deleted!");
            location.reload();
        }
    });
});
</script>

<script>
$('.ui.checkbox')
  .checkbox()
;
</script>

<script type="application/javascript" src="{% static 'js/testgr/main/running_jobs_count.js' %}"></script>

</html>