<html>

<head>

<title>TESTGR</title>

{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">

</head>

<body>

<div class="ui grid">

	<div class="sixteen wide column">
        <div class="ui fixed menu">
            <div class="item">
                <h3><a href="{%  url 'index' %}">TESTGR</a></h3>
            </div>
            <a href="{%  url 'index' %}" class="item">Monitoring</a>
            <a href="{%  url 'search' %}" class="item">Search</a>
            <a href="{%  url 'history' %}" class="item">History</a>
            <a href="{%  url 'management' %}" class="item active">Management</a>
            <div class="right menu" id="main_right_menu">
                {% if running_jobs_count > 0 %}
                <div class="item" id="running_jobs_count">
                <span>Active jobs: <strong>{{ running_jobs_count }}</strong></span>
                </div>
                {% else %}
                <div class="" id="running_jobs_count">
                </div>
                {% endif %}
                <div class="item">
                    <a href="https://github.com/and-sm/testgr" target="_blank">Github</a>
                </div>
            <a href="{%  url 'logout' %}" class="item">Logout</a>
            </div>
        </div>
	</div>

    <div class="sixteen wide column">
        <p>&nbsp;</p>
    </div>

    <div class="one wide column">
    </div>

    <div class="three wide column">
        <h3>Management</h3>
        <div class="ui divider"></div>
        <div class="ui secondary vertical menu">
            <a class="item" href="{% url 'management' %}">Environments</a>
            <a class="item active" href="{% url 'users' %}">Users</a>
            <a class="item" href="{% url 'about' %}">About</a>
        </div>
    </div>

    <div class="eleven wide column">
        <h3>Users</h3>
        <div class="ui divider"></div>

        <a href="{% url 'users_add' %}">
            <button class="ui green button">
                <i class="icon user"></i>
                Add User
            </button>
        </a>
        <p>&nbsp;</p>
        <table class="ui very basic collapsing celled table">
            <thead>
            <tr>
                <th>Username</th>
                <th>Type</th>
                <th>Regenerate token</th>
                <th>Delete user</th>
            </tr></thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>
                    <h4 class="ui image header">
                        <div class="content">
                            {% if request.user.is_superuser %}
                            <a href="{% url 'users_edit' user.pk %}">
                            {{ user.username }}
                            </a>
                            {% elif request.user.is_staff %}
                            {% if user.is_superuser %}
                            {{ user.username }}
                            {% else %}
                            <a href="{% url 'users_edit' user.pk %}">
                            {{ user.username }}
                            </a>
                            {% endif %}
                            {% endif %}
                        </div>
                    </h4>
                </td>
                <td>
                    <h4 class="ui image header">
                        <div class="content">
                            {% if user.is_superuser %}
                            Super user
                            {% elif user.is_staff %}
                            Staff
                            {% else %}
                            Normal
                            {% endif %}
                        </div>
                    </h4>
                </td>
                <td class="ui center aligned">
                    {% if request.user.is_superuser %}
                    <button class="ui icon button" data-reload-token-btn="{{ user.pk }}">
                        <i class="redo alternate icon"></i>
                    </button>
                    {% elif request.user.is_staff %}
                    <button class="ui icon button" {% if user.is_superuser %}disabled{% endif %}
                            data-reload-token-btn="{{ user.pk }}">
                        <i class="redo alternate icon"></i>
                    </button>
                    {% endif %}
                </td>
                <td>
                    <h4 class="ui image header">
                        <div class="field">
                            <div class="ui action input">
                            {% if request.user.is_superuser %}
                                {% if request.user != user %}
                                <div class="ui button" data-delete-btn="{{ user.pk }}">Delete</div>
                                {% else %}
                                <div class="ui button disabled">Delete</div>
                                {% endif %}
                            {% elif request.user.is_staff %}
                                {% if request.user != user %}
                                <div class="ui button {% if user.is_superuser %}disabled{% endif %}"
                                     data-delete-btn="{{ user.pk }}">Delete</div>
                                {% else %}
                                <div class="ui button disabled">Delete</div>
                                {% endif %}
                            {% endif %}
                            </div>
                        </div>
                    </h4>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="one wide column">
    </div>

<div class="ui first coupled mini modal">
    <div class="header">
     Delete user
    </div>
    <div class="image content">
      <div class="description">
        Are you sure that you want to delete user?
      </div>
    </div>
    <div class="actions">
        <div class="ui negative button">Cancel</div>
        <div class="ui positive right labeled icon button" id="confirm_delete_user">
            Delete<i class="checkmark icon"></i></div>
    </div>
</div>
<div class="ui second coupled mini modal">
    <div class="content">
        <div class="ui center aligned grid">
            <div class="ui row"><div class="column"><h3>Completed!</h3></div></div>
        </div>
    </div>
</div>


</div>

<script type="application/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>

<script>
$("div[data-delete-btn]").click(function () {
    let user_id = $(this).data("delete-btn");
$('.coupled.modal')
  .modal({
    allowMultiple: false
  })
;
// attach events to buttons
$('.second.modal')
  .modal({onShow: function(){
          window.setTimeout(function(){
             window.location.replace("{% url 'users' %}");
          }, 2000)}

  }).modal('attach events', '.first.modal .positive.button')
;
// show first now
$('.first.modal')
  .modal('show')

 $("#confirm_delete_user").click(function () {
    $.ajax({
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        url: "/api/user/" + user_id + "/",
        type: "DELETE",
    });
});
});

</script>


<script>
$("button[data-reload-token-btn]").click(function () {
    let user_id = $(this).data("reload-token-btn");
    $.ajax({
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        url: "/api/user/" + user_id + "/regenerate-token",
        type: "GET",
        success: function(data) {
            $('body').modal('alert','Attention!','<strong>Please save user token in the safe place!</strong>' +
                '<br/><br/>' + data["token"]);
        },
        error: function() {
            $('body').modal('alert','Error','Operation can\'t be done!');
        }
    });
});
</script>


{% comment %}
<script>
$("div[data-delete-btn]").click(function () {
    let user_id = $(this).data("delete-btn");
    $.ajax({
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        url: "/api/user/" + user_id + "/",
        type: "DELETE",
        //data: {'id': button_id},
        success: function() {
            alert("Deleted!");
            location.reload();
        },
        error: function() {
            alert("User can't be deleted");
            location.reload();
        }
    });
});
</script>
{% endcomment %}

<script type="application/javascript" src="{% static 'js/testgr/main/running_jobs_count.js' %}"></script>

</body>

</html>