<html>

<head>

<title>TESTGR</title>

{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">

</head>

<body>

<div class="ui grid">

    <div class="sixteen wide column">
        <div class="ui  menu">
            <div class="item">
                <h3><a href="{%  url 'index' %}">TESTGR</a></h3>
            </div>
            <a href="{%  url 'index' %}" class="item active">Monitoring</a>
            <a href="{%  url 'history' %}" class="item">History</a>
            <a href="{%  url 'management' %}" class="item">Management</a>
            <div class="right menu" id="main_right_menu">
                {% if running_jobs_count > 0 %}
                <div class="item" id="running_jobs_count">
                <span>Currently running jobs: <strong>{{ running_jobs_count }}</strong></span>
                </div>
                {% else %}
                <div class="" id="running_jobs_count">
                </div>
                {% endif %}
                <div class="item">
                    <a href="https://github.com/and-sm/testgr" target="_blank">Github</a>
                </div>
            </div>
        </div>
	</div>

    <div class="eight wide column history-table">
        <table class="ui padded selectable celled table">
            <thead>
            <tr>
                <th colspan="4">
                    <h3>Last 10 jobs</h3>
                </th>
            </tr>
            </thead>
            <thead>
            <tr>
                <th>Stop date</th>
                <th>Time taken</th>
                <th>Environment</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody id="latest_jobs">
            {% if latest_jobs_items %}
                {% for job in latest_jobs_items %}
                <tr>
                    <td><a href="job/{{ job.uuid }}">{{ job.stop_time }}</a></td>
                    <td><a href="job/{{ job.uuid }}">{{ job.time_taken }}</a></td>
                    <td><a href="job/{{ job.uuid }}">{% if job.env == None %}not set{% else %}{{ job.env }}{% endif %}
                    </a></td>
                        {% if job.status == 2 %}
                            <td><a href="job/{{ job.uuid }}" class="ui green basic label">Passed</a></td>
                        {% elif job.status == 3 %}
                            <td><a href="job/{{ job.uuid }}" class="ui red basic label">Failed</a></td>
                        {% endif %}
                </tr>
                {% endfor %}
            {% else %}
                <tr class="center aligned"><td colspan="3">No job was run</td></tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <div class="eight wide column history-table">
        <table class="ui padded selectable celled table">
            <thead>
            <tr>
                <th colspan="3">
                    <h3>Running jobs</h3>
                </th>
            </tr>
            </thead>
            <thead>
            <tr>
                <th>Start date</th>
                <th>Environment</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody id="running_jobs">
            {% if running_jobs_items %}
                {% for job in running_jobs_items %}
                <tr>
                    <td><a href="job/{{ job.uuid }}">{{ job.start_time }}</a></td>
                    <td><a href="job/{{ job.uuid }}">{% if job.env == None %}not set{% else %}{{ job.env }}{% endif %}
                    </a></td>
                    <td><a href="job/{{ job.uuid }}" class="ui blue basic label">Running</a></td>
                </tr>
                {% endfor %}
            {% else %}
                <tr class="center aligned"><td colspan="3">No job is running</td></tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <div class="sixteen wide column"></div>

    <div class="sixteen wide column">

     {% comment %}
     {%  if job_count == 0 %}
     <div class="ui">
         <h3 class="ui center aligned header">
             No tests were run
         </h3>
     </div>
     {% endif %}
     {% endcomment %}

    </div>

</div>

</body>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>

<script type="application/javascript" src="{% static 'js/testgr/main/running_jobs_count.js' %}"></script>
<script type="application/javascript" src="{% static 'js/testgr/main/latest_jobs.js' %}"></script>
<script type="application/javascript" src="{% static 'js/testgr/main/running_jobs.js' %}"></script>

</html>