<html>

<head>

<title>TESTGR</title>

{% load static %}
{% load urlize_target_blank %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css" />


<style>
    .icon_style.icon {
        opacity: 0.3;
        transition: 0.1s;
    }
    .icon_style_filled.icon:hover {opacity: 1}

    .icon_style_filled.icon {opacity: 1}

    .ui.label.bug{
        margin-right: 5px;
        margin-bottom: 5px;
        margin-left: 0;
        word-wrap: break-word;
    }

    .ui.table th.actions {
        text-align:center
    }

    .ui.table td.actions {
        text-align:center
    }

    .ui.table th.order {
        text-align:center
    }

    .ui.table td.order {
        width: 60px;
        text-align:center
    }

    .ui.ribbon.label {
        font-size: medium;
    }

    .upload{
        white-space: normal;
        word-wrap: break-word
    }

</style>

</head>

<body>

<div class="ui grid">

    <div class="sixteen wide column">
        <div class="ui fixed menu">
            <div class="item">
                <h3><a href="{%  url 'index' %}">TESTGR</a></h3>
            </div>
            <a href="{%  url 'index' %}" class="item active">Monitoring</a>
            <a href="{%  url 'search' %}" class="item">Search</a>
            <a href="{%  url 'history' %}" class="item">History</a>
            {% if request.user.is_staff %}
            <a href="{%  url 'management' %}" class="item">Management</a>
            {% else %}
            <a href="{%  url 'about_guest' %}" class="item">About</a>
            {% endif %}
            <div class="right menu" id="main_right_menu">
                {% if running_jobs_count > 0 %}
                <div class="item" id="running_jobs_count">
                <span>Active jobs: <strong>{{ running_jobs_count }}</strong></span>
                </div>
                {% else %}
                <div class="" id="running_jobs_count">
                </div>
                {% endif %}
                <div class="item">
                    <a href="https://github.com/and-sm/testgr" target="_blank">Github</a>
                </div>
            <a href="{%  url 'logout' %}" class="item">Logout</a>
            </div>
        </div>
	</div>

    <div class="sixteen wide column">
        <p>&nbsp;</p>
    </div>

    <div class="one wide column">
    </div>

    <div class="three wide column">
        <h4>Job Details</h4>
        <div class="ui divider"></div>
        <div><h5 id="job_status">Status:
            {% if status == 1 %}<span class="ui blue small header">In Progress</span>
            {% elif status == 2 %}<span class="ui green small header">Passed</span>
            {% elif status == 3 %}<span class="ui red small header">Failed</span>
            {% elif status == 4 %}<span class="ui yellow small header">Stopped</span>
            {% elif status == 5 %}<span class="ui yellow small header">Skipped</span>
            {% endif %}</h5>
        </div><br />
        <div><h5>Environment: &nbsp;<span class="ui middle label">{{ env }}</span></h5></div><br />
        {% if custom_data %}
        <div><h5>Custom data: </h5>
        <div class="ui bulleted list">
        {% for key, value in custom_data.items %}
            <div class="item" style="word-wrap: break-word;"><strong>{{ key }}: </strong>{{ value|urlize|urlize_target_blank }}</div>
        {% endfor %}
        </div>
        </div>
        <p></p>
        {% endif %}
        <div><h5>Start DateTime: </h5>{{ start_time }}</div><br />
        <p><strong>Stop DateTime: </strong><br /><span id="job_stop_timestamp">{% if stop_time is not None %}{{ stop_time }}{% else %}Pending...{% endif %}</span></p>
        <p><strong>Time Taken: </strong><br /><span id="job_time_taken">{% if time_taken is not None %}{{ time_taken }}{% else %}Pending...{% endif %}</span></p>
        <p><strong>Runner: </strong>
        {% if fw == 1 %}nose2{% elif fw == 2 %}pytest{% else %}unknown{% endif %}</p>
        {% if files %}
        <div><h5>Files:</h5></div>
            <p class="upload">
            {% for item in files %}
            <a href="{{ item.file.url }}">{{ item.get_file_name }}</a><br/>
            {% endfor %}
            </p>
        {% endif %}
        {% if status != 1 %}
         <div><h5>Chart:</h5></div>
         <div><canvas id="myChart" width="250" height="250"></canvas></div>
        {% endif %}
    </div>

    <div class="eleven wide column">

        {% comment %}
        <div class="progress">
            <div>
                <table class="table_progress">
                    <tr>
                        {% if tests_percentage.passed_percent > 0 %}
                            <td style="width:{{ tests_percentage.passed_percent }}%;background-color: #5bcd5b"></td>
                        {% endif %}
                        {% if tests_percentage.failed_percent > 0 %}
                            <td style="width:{{ tests_percentage.failed_percent }}%;background-color: #e74c54"></td>
                        {% endif %}
                        {% if tests_percentage.aborted_percent > 0 %}
                            <td style="width:{{ tests_percentage.aborted_percent }}%;background-color: #b41f1f"></td>
                        {% endif %}
                        {% if tests_percentage.skipped_percent > 0 %}
                            <td style="width:{{ tests_percentage.skipped_percent }}%;background-color: #e8e616"></td>
                        {% endif %}
                        {% if tests_percentage.not_started_percent > 0 %}
                            <td style="width:{{ tests_percentage.not_started_percent }}%;background-color: #747576"></td>
                        {% endif %}
                    </tr>
                </table>

            </div>
        </div>
        {% endcomment %}

        <div class="ui center aligned grid">
            <div class="three column row">
                <div class="three wide left aligned column">
                    <div class="item">
                        <h4>Tests: {{ test_count }}</h4>
                    </div>
                </div>

                <div class="ten wide center aligned column">
                    <div class="item"><h4>
                    <span id="job_tests_passed">
                    {% if status != 1 %}
                        <a href="#table_success_tests">Passed: {{ passed }}</a>
                    {% else %}
                        Passed: {{ passed }}
                    {% endif %}
                    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="job_tests_failed">
                    {% if status != 1 %}
                        <a href="#table_failed_tests">Failed: <span class="{% if failed > 0 %}test_failed{% else %}{% endif %}">{{ failed }}</span></a>
                    {% else %}
                        Failed: <span class="{% if failed > 0 %}test_failed{% else %}{% endif %}">{{ failed }}</span>
                    {% endif %}
                    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="job_tests_aborted">
                    {% if status != 1 %}
                        <a href="#table_aborted_tests">Aborted: <span class="{% if aborted > 0 %}test_aborted{% else %}{% endif %}">{{ aborted }}</span></a>
                    {% else %}
                        Aborted: <span class="{% if aborted > 0 %}test_failed{% else %}{% endif %}">{{ aborted }}</span>
                    {% endif %}
                    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="job_tests_skipped">
                    {% if status != 1 %}
                        <a href="#table_skipped_tests">Skipped: {{ skipped }}</a>
                    {% else %}
                        Skipped: {{ skipped }}
                    {% endif %}
                    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="job_tests_not_started">
                    {% if status != 1 %}
                        <a href="#table_not_started_tests">Not Started: {{ not_started }}</a>
                    {% else %}
                        Not Started: {{ not_started }}
                    {% endif %}
                    </span>
                    </h4></div>
                </div>

                <div class="three wide right aligned column">
                    {% if status != 1 %}<h4>
                        <a href="#" id="delete_job"><span class="ui red text">Delete job</span></a></h4>{% endif %}
                </div>

            </div>

        </div>

        <div class="sixteen wide column">
            <div class="ui divider"></div>
        </div>

        <div class="ui yellow message" id="job_finished_message" style="display: none">
            Job finished, please refresh the page.</div>

        <div class="ui grid" id="force_stop_job_div">
            <div class="ui fourteen wide column"></div>
            <div class="ui two wide column right aligned">
                <div class="header item">
                    {% if status == 1 %}
                        <a class="ui red label" id="force_stop_job" data-job-id="{{ uuid }}" data-job-force-stop-url=
                                "{% url 'job_force_stop' %}">Detach job</a>{% endif %}
                </div>
            </div>
        </div>

        {% if status == 1 %}
        <table class="ui very basic selectable table">
            <thead>
            <tr>
                <th>&nbsp;&nbsp;Test Class</th>
                <th>&nbsp;&nbsp;Test Method</th>
                <th>Start DateTime</th>
                <th>Stop DateTime</th>
                <th>Time Taken</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody id="tests_list">
            {% for item in tests.all %}
                <tr onclick="window.location.href = '{% url 'test' test_uuid=item.uuid %}';"
                    class="ui
                    {% if item.status == 1%}{% endif %}
                    {% if item.status == 2%}{% endif %}
                    {% if item.status == 3%}positive{% endif %}
                    {% if item.status == 4%}negative{% endif %}
                    {% if item.status == 5%}warning{% endif %}
                    {% if item.status == 6%}negative{% endif %}"
                    data-tr-test="{{ item.uuid }}">
                    {% if fw == 1 %}
                    <td {% if item.test.suppress == 1 %}class="left marked orange"{% endif %}
                        title="{{ item.test.get_test_class_for_nose }}">&nbsp;&nbsp;
                        {{ item.test.get_test_class_for_nose|truncatechars:32 }}</td>
                    {% elif fw == 2 %}
                    <td {% if item.test.suppress == 1 %}class="left marked orange"{% endif %}
                        title="{{ item.test.get_test_class_for_pytest }}">&nbsp;&nbsp;
                        {{ item.test.get_test_class_for_pytest|truncatechars:32 }}</td>
                    {% endif %}
                    {% if fw == 1 %}
                    <td title="{{ item.test.get_test_method_for_nose }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_nose|truncatechars:32 }}</td>
                    {% elif fw == 2 %}
                    <td title="{{ item.test.get_test_class_for_pytest }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_pytest|truncatechars:32 }}</td>
                    {% endif %}
                    <td data-td-start-time="{{ item.uuid }}">
                        {% if item.get_start_time is not None %}
                            {{ item.get_start_time }}
                        {% else %}Pending...
                        {% endif %}
                    </td>
                    <td data-td-stop-time="{{ item.uuid }}">
                        {% if item.get_stop_time is not None %}
                            {{ item.get_stop_time }}
                        {% else %}Pending...
                        {% endif %}
                    </td>
                    <td data-td-eta="{{ item.uuid }}">
                        {% if item.status == 2 %}
                            {% if item.test.get_time_taken_eta is not None %}
                                ETA: {{ item.test.get_time_taken_eta }}
                            {% else %}
                                Pending...
                            {% endif %}
                        {% elif item.status == 1 %}
                            {% if item.test.get_time_taken_eta is not None %}
                                ETA: {{ item.test.get_time_taken_eta }}
                            {% else %}
                                Pending...
                            {% endif %}
                        {% else %}
                            {% if item.get_time_taken is not None %}
                                {{ item.get_time_taken }}
                            {% else %}
                                Pending...
                            {% endif %}
                        {% endif %}
                    </td>
                    <td data-td-status="{{ item.uuid }}">
                        {% if item.status == 1%}<div class="ui gray basic label">Not Started</div>
                        {% elif item.status == 2%}<div class="ui blue basic label">In Progress</div>
                        {% elif item.status == 3%}<div class="ui green basic label">Passed</div>
                        {% elif item.status == 4 %}<span class="ui red basic label">Failed</span>
                        {% elif item.status == 5 %}<div class="ui yellow basic label">Skipped</div>
                        {% elif item.status == 6 %}<div class="ui red basic label">Aborted</div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% endif %}

    {% if status != 1 %}
        {% if failed > 0 %}
        <a class="ui red ribbon label" id="table_failed_tests">Failed tests: {{ failed }}</a>
        <table class="ui very basic selectable table">
            <thead>
            <tr>
                <th class="order">Order</th>
                <th>&nbsp;&nbsp;Test Class</th>
                <th>&nbsp;&nbsp;Test Method</th>
                <th>Start DateTime</th>
                <th>Stop DateTime</th>
                <th>Time Taken</th>
                <th>Status</th>
                <th class="actions">Actions</th>
            </tr>
            </thead>
            <tbody id="tests_list">
            {% for item in tests.all %}
                {% if item.status != 3 and item.status != 1 and item.status != 5 and item.status != 6%}
                <tr class="ui negative" onclick="window.location.href = '{% url 'test' test_uuid=item.uuid %}';">
                    {% if fw == 1 %}
                    <td class="order{% if item.test.suppress == 1 %} left marked orange{% endif %}">
                        {{ forloop.counter }}</td>
                    <td title="{{ item.test.get_test_class_for_nose }}">&nbsp;&nbsp;
                        {{ item.test.get_test_class_for_nose|truncatechars:32 }}</td>
                    {% elif fw == 2 %}
                    <td class="order{% if item.test.suppress == 1 %} left marked orange{% endif %}">
                        {{ forloop.counter }}</td>
                    <td title="{{ item.test.get_test_class_for_pytest }}">&nbsp;&nbsp;
                        {{ item.test.get_test_class_for_pytest|truncatechars:32 }}</td>
                    {% endif %}
                    {% if fw == 1 %}
                    <td title="{{ item.test.get_test_method_for_nose }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_nose|truncatechars:32 }}</td>
                    {% elif fw == 2 %}
                    <td title="{{ item.test.get_test_class_for_pytest }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_pytest|truncatechars:32 }}</td>
                    {% endif %}
                    <td>
                        {% if item.get_start_time is not None %}
                            {{ item.get_start_time }}
                        {% else %}Pending...
                        {% endif %}
                    </td>
                    <td>
                        {% if item.get_stop_time is not None %}
                            {{ item.get_stop_time }}
                        {% else %}Pending...
                        {% endif %}
                    </td>
                    <td>
                        {% if item.get_time_taken is not None %}
                            {{ item.get_time_taken }}
                        {% else %}0s
                        {% endif %}
                    </td>
                    <td>
                        <span class="ui red basic label">Failed</span>
                    </td>
                    <td class="actions">
                        <i title="Add a bug" class="bug large icon
                        {% if item.test.bugs.all %}icon_style_filled
                        {% else %}icon_style{% endif %}"
                           data-name="bugs" data-bug-id="{{ item.test.pk }}"></i>

                        <i title="Add a note" class="sticky note {% if not item.test.note %}outline{% endif %} large icon
                        {% if item.test.note %}icon_style_filled
                        {% else %}icon_style{% endif %}"
                           data-name="note" data-note-id="{{ item.test.pk }}"></i>

                        <i title="Suppress in email report" class="volume mute large icon
                        {% if item.test.suppress %}icon_style_filled
                        {% else %}icon_style{% endif %}"
                           data-name="suppress" data-suppress-state="{% if item.test.suppress %}1{% else %}0{% endif %}"
                           data-suppress-id="{{ item.test.pk }}"></i>
                    </td>

                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if passed > 0 %}
        <a class="ui green ribbon label" id="table_success_tests">Passed tests: {{ passed }}</a>
        <table class="ui very basic selectable table">
            <thead>
            <tr>
                <th class="order">Order</th>
                <th>&nbsp;&nbsp;Test Class</th>
                <th>&nbsp;&nbsp;Test Method</th>
                <th>Start DateTime</th>
                <th>Stop DateTime</th>
                <th>Time Taken</th>
                <th>Status</th>
                <th class="actions  ">Actions</th>
            </tr>
            </thead>
            <tbody id="tests_list">
            {% for item in tests.all %}
                {% if item.status == 3 %}
                <tr class="ui positive" onclick="window.location.href = '{% url 'test' test_uuid=item.uuid %}';">
                    {% if fw == 1 %}
                    <td class="order{% if item.test.suppress == 1 %} left marked orange{% endif %}">
                        {{ forloop.counter }}</td>
                    <td title="{{ item.test.get_test_class_for_nose }}">&nbsp;&nbsp;
                        {{ item.test.get_test_class_for_nose|truncatechars:32 }}</td>
                    {% elif fw == 2 %}
                    <td class="order{% if item.test.suppress == 1 %} left marked orange{% endif %}">
                        {{ forloop.counter }}</td>
                    <td title="{{ item.test.get_test_class_for_pytest }}">&nbsp;&nbsp;
                        {{ item.test.get_test_class_for_pytest|truncatechars:32 }}</td>
                    {% endif %}
                    {% if fw == 1 %}
                    <td title="{{ item.test.get_test_method_for_nose }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_nose|truncatechars:32 }}</td>
                    {% elif fw == 2 %}
                    <td title="{{ item.test.get_test_class_for_pytest }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_pytest|truncatechars:32 }}</td>
                    {% endif %}
                    <td>
                        {% if item.get_start_time is not None %}
                            {{ item.get_start_time }}
                        {% else %}Pending...
                        {% endif %}
                    </td>
                    <td>
                        {% if item.get_stop_time is not None %}
                            {{ item.get_stop_time }}
                        {% else %}Pending...
                        {% endif %}
                    </td>
                    <td>
                        {% if item.get_time_taken is not None %}
                            {{ item.get_time_taken }}
                        {% else %}0s
                        {% endif %}
                    </td>
                    <td>
                        <div class="ui green basic label">Passed</div>
                    </td>
                    <td class="actions">
                        <i title="Add a bug" class="bug large icon
                        {% if item.test.bugs.all %}icon_style_filled
                        {% else %}icon_style{% endif %}"
                           data-name="bugs" data-bug-id="{{ item.test.pk }}"></i>

                        <i title="Add a note" class="sticky note {% if not item.test.note %}outline{% endif %} large icon
                        {% if item.test.note %}icon_style_filled
                        {% else %}icon_style{% endif %}"
                           data-name="note" data-note-id="{{ item.test.pk }}"></i>

                        <i title="Suppress in email report" class="volume mute large icon
                        {% if item.test.suppress %}icon_style_filled
                        {% else %}icon_style{% endif %}"
                           data-name="suppress" data-suppress-state="{% if item.test.suppress %}1{% else %}0{% endif %}"
                           data-suppress-id="{{ item.test.pk }}"></i>
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if aborted > 0 %}
        <a class="ui red ribbon label" id="table_aborted_tests">Aborted tests: {{ aborted }}</a>
        <table class="ui very basic selectable table">
            <thead>
            <tr>
                <th class="order">Order</th>
                <th>&nbsp;&nbsp;Test Class</th>
                <th>&nbsp;&nbsp;Test Method</th>
                <th>Start DateTime</th>
                <th>Stop DateTime</th>
                <th>Time Taken</th>
                <th>Status</th>
                <th class="actions">Actions</th>
            </tr>
            </thead>
            <tbody id="tests_list">
            {% for item in tests.all %}
                {% if item.status == 6 %}
                <tr class="ui negative" onclick="window.location.href = '{% url 'test' test_uuid=item.uuid %}';">
                    {% if fw == 1 %}
                    <td class="order{% if item.test.suppress == 1 %} left marked orange{% endif %}">
                        {{ forloop.counter }}</td>
                    <td title="{{ item.test.get_test_class_for_nose }}">&nbsp;&nbsp;
                        {{ item.test.get_test_class_for_nose|truncatechars:32 }}</td>
                    {% elif fw == 2 %}
                    <td class="order{% if item.test.suppress == 1 %} left marked orange{% endif %}">
                        {{ forloop.counter }}</td>
                    <td title="{{ item.test.get_test_class_for_pytest }}">&nbsp;&nbsp;
                        {{ item.test.get_test_class_for_pytest|truncatechars:32 }}</td>
                    {% endif %}
                    {% if fw == 1 %}
                    <td title="{{ item.test.get_test_method_for_nose }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_nose|truncatechars:32 }}</td>
                    {% elif fw == 2 %}
                    <td title="{{ item.test.get_test_class_for_pytest }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_pytest|truncatechars:32 }}</td>
                    {% endif %}
                    <td>
                        {% if item.get_start_time is not None %}
                            {{ item.get_start_time }}
                        {% else %}Pending...
                        {% endif %}
                    </td>
                    <td>
                        {% if item.get_stop_time is not None %}
                            {{ item.get_stop_time }}
                        {% else %}Pending...
                        {% endif %}
                    </td>
                    <td>
                        {% if item.get_time_taken is not None %}
                            {{ item.get_time_taken }}
                        {% else %}0s
                        {% endif %}
                    </td>
                    <td>
                        <div class="ui red basic label">Aborted</div>
                    </td>
                    <td class="actions">
                        <i title="Add a bug" class="bug large icon
                        {% if item.test.bugs.all %}icon_style_filled
                        {% else %}icon_style{% endif %}"
                           data-name="bugs" data-bug-id="{{ item.test.pk }}"></i>

                        <i title="Add a note" class="sticky note {% if not item.test.note %}outline{% endif %} large icon
                        {% if item.test.note %}icon_style_filled
                        {% else %}icon_style{% endif %}"
                           data-name="note" data-note-id="{{ item.test.pk }}"></i>

                        <i title="Suppress in email report" class="volume mute large icon
                        {% if item.test.suppress %}icon_style_filled
                        {% else %}icon_style{% endif %}"
                           data-name="suppress" data-suppress-state="{% if item.test.suppress %}1{% else %}0{% endif %}"
                           data-suppress-id="{{ item.test.pk }}"></i>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if skipped > 0 %}
        <a class="ui yellow ribbon label" id="table_skipped_tests">Skipped tests: {{ skipped }}</a>
        <table class="ui very basic selectable table">
            <thead>
            <tr>
                <th class="order">Order</th>
                <th>&nbsp;&nbsp;Test Class</th>
                <th>&nbsp;&nbsp;Test Method</th>
                <th>Start DateTime</th>
                <th>Stop DateTime</th>
                <th>Time Taken</th>
                <th>Status</th>
                <th class="actions">Actions</th>
            </tr>
            </thead>
            <tbody id="tests_list">
            {% for item in tests.all %}
                {% if item.status == 5 %}
                <tr class="ui warning" onclick="window.location.href = '{% url 'test' test_uuid=item.uuid %}';">
                    {% if fw == 1 %}
                    <td class="order{% if item.test.suppress == 1 %} left marked orange{% endif %}">
                        {{ forloop.counter }}</td>
                    <td title="{{ item.test.get_test_class_for_nose }}">&nbsp;&nbsp;
                        {{ item.test.get_test_class_for_nose|truncatechars:32 }}</td>
                    {% elif fw == 2 %}
                    <td class="order{% if item.test.suppress == 1 %} left marked orange{% endif %}">
                        {{ forloop.counter }}</td>
                    <td title="{{ item.test.get_test_class_for_pytest }}">&nbsp;&nbsp;
                        {{ item.test.get_test_class_for_pytest|truncatechars:32 }}</td>
                    {% endif %}
                    {% if fw == 1 %}
                    <td title="{{ item.test.get_test_method_for_nose }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_nose|truncatechars:32 }}</td>
                    {% elif fw == 2 %}
                    <td title="{{ item.test.get_test_class_for_pytest }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_pytest|truncatechars:32 }}</td>
                    {% endif %}
                    <td>
                        {% if item.get_start_time is not None %}
                            {{ item.get_start_time }}
                        {% else %}Pending...
                        {% endif %}
                    </td>
                    <td>
                        {% if item.get_stop_time is not None %}
                            {{ item.get_stop_time }}
                        {% else %}Pending...
                        {% endif %}
                    </td>
                    <td>
                        {% if item.get_time_taken is not None %}
                            {{ item.get_time_taken }}
                        {% else %}0s
                        {% endif %}
                    </td>
                    <td>
                        <div class="ui yellow basic label">Skipped</div>
                    </td>
                    <td class="actions">
                        <i title="Add a bug" class="bug large icon
                        {% if item.test.bugs.all %}icon_style_filled
                        {% else %}icon_style{% endif %}"
                           data-name="bugs" data-bug-id="{{ item.test.pk }}"></i>

                        <i title="Add a note" class="sticky note {% if not item.test.note %}outline{% endif %} large icon
                        {% if item.test.note %}icon_style_filled
                        {% else %}icon_style{% endif %}"
                           data-name="note" data-note-id="{{ item.test.pk }}"></i>

                        <i title="Suppress in email report" class="volume mute large icon
                        {% if item.test.suppress %}icon_style_filled
                        {% else %}icon_style{% endif %}"
                           data-name="suppress" data-suppress-state="{% if item.test.suppress %}1{% else %}0{% endif %}"
                           data-suppress-id="{{ item.test.pk }}"></i>
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if not_started > 0 %}
        <a class="ui grey ribbon label" id="table_not_started_tests">Not started tests: {{ not_started }}</a>
        <table class="ui very basic selectable table">
            <thead>
            <tr>
                <th class="order">Order</th>
                <th>&nbsp;&nbsp;Test Class</th>
                <th>&nbsp;&nbsp;Test Method</th>
                <th>Start DateTime</th>
                <th>Stop DateTime</th>
                <th>Time Taken</th>
                <th>Status</th>
                <th class="actions">Actions</th>
            </tr>
            </thead>
            <tbody id="tests_list">
            {% for item in tests.all %}
                {% if item.status == 1 %}
                <tr class="ui" onclick="window.location.href = '{% url 'test' test_uuid=item.uuid %}';">
                    {% if fw == 1 %}
                    <td class="order{% if item.test.suppress == 1 %} left marked orange{% endif %}">
                        {{ forloop.counter }}</td>
                    <td title="{{ item.test.get_test_class_for_nose }}">&nbsp;&nbsp;
                        {{ item.test.get_test_class_for_nose|truncatechars:32 }}</td>
                    {% elif fw == 2 %}
                    <td class="order{% if item.test.suppress == 1 %} left marked orange{% endif %}">
                        {{ forloop.counter }}</td>
                    <td title="{{ item.test.get_test_class_for_pytest }}">&nbsp;&nbsp;
                        {{ item.test.get_test_class_for_pytest|truncatechars:32 }}</td>
                    {% endif %}
                    {% if fw == 1 %}
                    <td title="{{ item.test.get_test_method_for_nose }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_nose|truncatechars:32 }}</td>
                    {% elif fw == 2 %}
                    <td title="{{ item.test.get_test_class_for_pytest }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_pytest|truncatechars:32 }}</td>
                    {% endif %}
                    <td>
                        {% if item.get_start_time is not None %}
                            {{ item.get_start_time }}
                        {% else %}N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if item.get_stop_time is not None %}
                            {{ item.get_stop_time }}
                        {% else %}N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if item.get_time_taken is not None %}
                            {{ item.get_time_taken }}
                        {% else %}N/A
                        {% endif %}
                    </td>
                    <td>
                        <div class="ui gray basic label">Not Started</div>
                    </td>
                    <td class="actions">
                        <i title="Add a bug" class="bug large icon
                        {% if item.test.bugs.all %}icon_style_filled
                        {% else %}icon_style{% endif %}"
                           data-name="bugs" data-bug-id="{{ item.test.pk }}"></i>

                        <i title="Add a note" class="sticky note {% if not item.test.note %}outline{% endif %} large icon
                        {% if item.test.note %}icon_style_filled
                        {% else %}icon_style{% endif %}"
                           data-name="note" data-note-id="{{ item.test.pk }}"></i>

                        <i title="Suppress in email report" class="volume mute large icon
                        {% if item.test.suppress %}icon_style_filled
                        {% else %}icon_style{% endif %}"
                           data-name="suppress" data-suppress-state="{% if item.test.suppress %}1{% else %}0{% endif %}"
                           data-suppress-id="{{ item.test.pk }}"></i>
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}


        {% endif %}

    </div>

    <div class="one wide column">
    </div>

</div>


<div class="ui first coupled mini modal">
    <div class="header">
     Delete job
    </div>
    <div class="image content">
      <div class="description">
        Are you sure you want to delete this job?
      </div>
    </div>
    <div class="actions">
        <div class="ui negative button">Cancel</div>
        <div class="ui positive right labeled icon button" id="confirm_delete_job" data-id="{{ uuid }}">
            Delete<i class="checkmark icon"></i></div>
    </div>
</div>
<div class="ui second coupled mini modal">
    <div class="content">
        <div class="ui center aligned grid">
            <div class="ui row"><div class="column"><h3>Completed!</h3></div></div>
        </div>
    </div>
</div>

<div class="ui tiny modal" id="add_note">
  <div class="header">
      <div class="ui grid">
      <div class="ui eight wide column"><i class="file alternate outline icon"></i>  Add a note</div>
      <div class="ui eight wide right aligned column">
          <i class="notched circle loading icon green" id="note_loading_process"></i>
      </div>
      </div>
  </div>
  <div class="content">
      <div class="ui grid">
          <div class="ui sixteen wide column">
              <div class="ui form">
                  <div class="one field">
                      <div class="field" id="note-field">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <div class="actions">
        <span class="ui green text" id="save_complete" style="display: none"><strong>Saved!</strong></span>
        <button class="ui primary button" id="add-note">Save</button>
        <div class="ui cancel button">Close</div>
  </div>
</div>

<div class="ui tiny modal" id="modal_bugs">
  <div class="header">
      <div class="ui grid">
      <div class="ui eight wide column"><i class="bug icon"></i> Bugs</div>
      <div class="ui eight wide right aligned column">
          <i class="notched circle loading icon green" id="bug_loading_process" style="display: none"></i>
      </div>
      </div>
  </div>
  <div class="content">
      <div class="ui grid">
          <div class="ui sixteen wide column" id="bugs-list">
          </div>
        <div class="ui sixteen wide column">
            <h3>Add a bug ID:</h3>
        </div>
          <div class="ui sixteen wide column">
              <div class="ui form">
                  <div class="one field">
                      <div class="field" id="bug-field">
                          <textarea style="width: 100%" rows="3" id="bug-content"></textarea>
                      </div>
                  </div>
              </div>
          </div>
          <div class="ui sixteen wide column">
          <button class="ui primary button" id="add-bug">Add</button>&nbsp;
          </div>
      </div>
  </div>
  <div class="actions">
        <div class="ui cancel button">Close</div>
  </div>
</div>

</body>

<script type="application/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>

<script>
    let passed = {{ passed }};
    let failed = {{ failed }};
    let aborted = {{ aborted }};
    let not_started = {{ not_started }};
    let skipped = {{ skipped }};
    data = {
    datasets: [{
        data: [passed, failed, aborted, skipped, not_started],
        backgroundColor:
            ["rgb(0, 166, 0)","rgb(200, 0, 0)","rgb(200, 0, 0)","rgb(255, 200, 0)","rgb(130, 130, 130)"]
    }],


    labels: [
        'Passed',
        'Failed',
        'Aborted',
        'Skipped',
        'Not Started'
    ]
};
$(document).ready(function() {
    var ctx = $("#myChart");
    new Chart(ctx, {
        type: 'doughnut',
        data: data,
        options: {
            animation: {
                duration: 0
            },
            responsive: false,
            legend: {
                display: false,
                labels: {
                    fontColor: 'rgb(255, 99, 132)'
                }
            }
        }
    });
});
</script>


<script type="application/javascript" src="{% static 'js/testgr/main/job_stop.js' %}"></script>
<script type="application/javascript" src="{% static 'js/testgr/main/running_jobs_count.js' %}"></script>
<script type="application/javascript" id="job_details" data-job-uuid="{{ uuid }}"
        src="{% static 'js/testgr/main/job_details.js' %}">
</script>
<script type="application/javascript" id="job_tests_details" data-job-uuid="{{ uuid }}"
        src="{% static 'js/testgr/main/job_tests_details.js' %}">
</script>

<script>
$("#delete_job").click(function () {
$('.coupled.modal')
  .modal({
    allowMultiple: false
  })
;
// attach events to buttons
$('.second.modal')
  .modal({onShow: function(){
          window.setTimeout(function(){
              window.location.replace("{% url 'index' %}");
          }, 2000)}
  }).modal('attach events', '.first.modal .positive.button')
;
// show first now
$('.first.modal')
  .modal('show')
});
</script>

<script>
 $("#confirm_delete_job").click(function () {
    var job_id = $(this).data("id");
    $.ajax({
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        url: "/api/job/" + job_id + "/",
        type : "DELETE",
        contentType: 'application/json'
    });
});
</script>

<script>
$("#reload_after_delete").click(function () {
window.location.replace("{% url 'index' %}");
});
</script>

<script>
    // Get bugs
    let noteLoading = 'Loading...';
    $("i[data-name='bugs']").click(function(e) {
        window.obj = $(this);
        window.pk = $(this).data("bug-id");
        e.preventDefault();     // tr onclick prevent
        e.stopPropagation();    // tr onclick prevent
        $("#bug_loading_process").show();
        let bugs_window = $('#modal_bugs');
        let bugs_list = $("#bugs-list");
        $("#bug-content").val("");
        bugs_list.html(noteLoading);
        bugs_window.modal({
            onShow: function(){
                $.ajax({
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    url: "/api/bugs/" + window.pk + "/",
                    type: "GET"
                }).done(
                    // For each JSON item - render bug html element
                    function (result) {
                        $("#bug_loading_process").hide();
                        bugs_list.html("");
                        result.forEach(function(item){
                            bugs_list.append("<div id=\"bug_" + item.id + "\" class=\"ui label large bug\">"
                                + item.bug + "<i class=\"delete icon\" " +
                                "data-name=\"delete-bug\" " + "data-del-id=\"" + item.id + "\"></i></div>")
                        });
                    });
            }
        }).modal('show');
        // }).modal({dimmerSettings: { useCSS: true, opacity: 0 }}).modal('show');
    });
</script>

<script>
    // Add bug
    $(document).on('click', "#add-bug" , function () {
        $("#bug_loading_process").show();
        let content = $("#bug-content");
        $.ajax({
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            url: "/api/bugs/change/" + window.pk + "/",
            type: "PUT",
            data: {"bug": $.trim(content.val())},
            error : function() {
                $("#bug-field").addClass("error");
                $("#bug_loading_process").hide();
            },
            success : function(data) {
                $("#bug_loading_process").hide();
                content.val("");
                let bugs_list = $("#bugs-list");
                bugs_list.append("<div id=\"bug_" + data['id'] + "\" class=\"ui label large bug\">" + data['bug']
                    + "<i class=\"delete icon\" " +
                    "data-name=\"delete-bug\" " + "data-del-id=\"" + data['id']  + "\"></i></div>");
                $("i[data-bug-id='"+ window.pk +"']").removeClass("icon_style")
                    .addClass("icon_style_filled");
            }
        })
    });

    // Remove validation error
    $(document).on("keyup", "#bug-content", function(){
        $("#bug-field").removeClass("error");
    });

    // Delete bug
    $(document).on('click', "i[data-name=\'delete-bug\']" , function () {
        $("#bug_loading_process").show();
        let bug = $(this).data("del-id");
        $.ajax({
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            url: "/api/bugs/change/" + bug + "/",
            type: "DELETE"
        }).done(
            function () {
                $("#bug_loading_process").hide();
                $("#bug_" + bug + "").remove()
                if ($(".delete").length < 1){
                    $("i[data-bug-id='"+ window.pk +"']").removeClass("icon_style_filled")
                    .addClass("icon_style");
                }
            }
        )
    });
</script>

<script>
    // Suppress test
    $("i[data-name='suppress']").click(function (e) {
    e.preventDefault();     // tr onclick prevent
    e.stopPropagation();    // tr onclick prevent
    window.obj = $(this);
    let test_id = $(this).data("suppress-id");
    let suppress_state = $(this).data("suppress-state");
    let data_send = "";
    if (suppress_state === 1){
        data_send = {"suppress": "0"}
    }
    else {
        data_send = {"suppress": "1"};
    }
    $.ajax({
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        url: "/api/tstorage/" + test_id + "/",
        data: data_send,
        type : "POST",
        success : function() {
            if (suppress_state === 1){
                //window.obj.css("opacity", "0.3");
                window.obj.data("suppress-state", 0);
                window.obj.removeClass("icon_style_filled");
                window.obj.addClass("icon_style");
                window.obj.parent().parent().children("td").eq(0).removeClass("left marked orange")

            }
            else {
                //window.obj.css("opacity", "1");
                window.obj.data("suppress-state", 1);
                window.obj.removeClass("icon_style");
                window.obj.addClass("icon_style_filled");
                window.obj.parent().parent().children("td").eq(0).addClass("left marked orange")
            }
        }
    });
});
</script>

<script>
    // Get note
    let popupLoading = 'Loading...';
    $("i[data-name='note']").click(function(e) {
        $("#note_loading_process").show();
        $("#save_complete").hide();
        window.pk = $(this).data("note-id");
        e.preventDefault();     // tr onclick prevent
        e.stopPropagation();    // tr onclick prevent
        let note_window = $('#add_note');
        let note_field = $('#note-field');
        note_window.modal({
            onShow: function(){
                note_field.html(popupLoading);
                $.ajax({
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    url: "/api/tstorage/" + window.pk + "/",
                    type: "GET"
                }).done(
                    function (result) {
                        $("#note_loading_process").hide();
                        if(result["note"] === null){
                            note_field.html("<textarea style=\"width: 100%\" rows=\"3\" id=\"note-content\"></textarea>");
                        }
                        else{
                            note_field.html("<textarea style=\"width: 100%\" rows=\"3\" id=\"note-content\">"
                                + result["note"] + "</textarea>");
                        }
            })}
        }).modal('show');
    });

</script>

<script>
    // Add note
    $(document).on('click', "#add-note" , function () {
        let content = $("#note-content");
        $("#note_loading_process").show();
        $("#save_complete").hide();
        $.ajax({
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            url: "/api/tstorage/" + window.pk + "/",
            type: "POST",
            data: {"note": $.trim(content.val())},
            error : function() {
                $("#note_loading_process").hide();
                $("#note-field").addClass("error");
            },
            success : function() {
                $("#note_loading_process").hide();
                $("#save_complete").show()
                if ($.trim(content.val()) === ""){
                    $("i[data-note-id='"+ window.pk +"']").removeClass("icon_style_filled")
                    .addClass("icon_style outline");
                }
                else{
                    $("i[data-note-id='"+ window.pk +"']").removeClass("icon_style outline")
                    .addClass("icon_style_filled");
                }
            }
        })
    });
</script>


</html>