<html>

<head>

<title>TESTGR</title>

{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.css">

{% comment %}
<style>

    .test_failed {
        color: red;
    }


    .progress {
        width: 100%;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
    }
    .progress div {
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
    }

    .table_progress { border-collapse: collapse; width: 100%; table-layout: fixed; height:5px; }

    .ui.horizontal.segments{
        border-top:0 !important;
        border-bottom:0 !important;
        border-left:0 !important;
        border-right:0 !important;
        box-shadow: 0 0 0 0;
    }

    .ui.segment{
        border-top:0 !important;
        border-bottom:0 !important;
        border-left:0 !important;
        border-right:0 !important;
    }


</style>
{% endcomment %}

</head>

<body>

<div class="ui grid">

    <div class="sixteen wide column">
        <div class="ui  menu">
            <div class="item">
                <h3><a href="{%  url 'index' %}">TESTGR</a></h3>
            </div>
            <a href="{%  url 'index' %}" class="item active">Monitoring</a>
            <a href="{%  url 'search' %}" class="item">Search</a>
            <a href="{%  url 'history' %}" class="item">History</a>
            {% if request.user.is_staff %}<a href="{%  url 'management' %}" class="item">Management</a>{% endif %}
            <div class="right menu" id="main_right_menu">
                {% if running_jobs_count > 0 %}
                <div class="item" id="running_jobs_count">
                <span>Currently running jobs: <strong>{{ running_jobs_count }}</strong></span>
                </div>
                {% else %}
                <div class="" id="running_jobs_count">
                </div>
                {% endif %}
                <div class="item">
                    <a href="https://github.com/and-sm/testgr" target="_blank">Github</a>
                </div>
            <a href="{%  url 'logout' %}" class="item">Logout</a>
            </div>
        </div>
	</div>

    <div class="one wide column">
    </div>

    <div class="four wide column">
        <h4>Job Details</h4>
        <div class="ui divider"></div>
        <div><h5 id="job_status">Status:
            {% if status == 1 %}<span class="ui blue small header">In Progress</span>
            {% elif status == 2 %}<span class="ui green small header">Passed</span>
            {% elif status == 3 %}<span class="ui red small header">Failed</span>
            {% elif status == 4 %}<span class="ui yellow small header">Stopped</span>
            {% elif status == 5 %}<span class="ui yellow small header">Skipped</span>
            {% endif %}</h5>
        </div><br />
        <div><h5>Environment: &nbsp;<span class="ui middle label">{{ env|upper }}</span></h5></div><br />
        <div><h5>UUID: </h5>{{ uuid }}</div><br />
        <div><h5>Start Date: </h5>{{ start_time }}</div><br />
        <p><strong>Stop Date: </strong><br /><span id="job_stop_timestamp">{% if stop_time is not None %}{{ stop_time }}{% else %}Pending...{% endif %}</span></p>
        <p><strong>Time Taken: </strong><br /><span id="job_time_taken">{% if time_taken is not None %}{{ time_taken }}{% else %}Pending...{% endif %}</span></p>
        <p><strong>Type: </strong>
        {% if fw == 1 %}nose2{% elif fw == 2 %}pytest{% else %}unknown type of tests{% endif %}</p>
        {% if status != 1 %}
            <div><h5>Chart:</h5></div>
            <div><canvas id="myChart" width="250" height="250"></canvas></div>
        {% endif %}
    </div>

    <div class="ten wide column">

        {% comment %}
        <div class="progress">
            <div>
                <table class="table_progress">
                    <tr>
                        {% if tests_percentage.passed_percent > 0 %}
                            <td style="width:{{ tests_percentage.passed_percent }}%;background-color: #5bcd5b"></td>
                        {% endif %}
                        {% if tests_percentage.failed_percent > 0 %}
                            <td style="width:{{ tests_percentage.failed_percent }}%;background-color: #e74c54"></td>
                        {% endif %}
                        {% if tests_percentage.aborted_percent > 0 %}
                            <td style="width:{{ tests_percentage.aborted_percent }}%;background-color: #b41f1f"></td>
                        {% endif %}
                        {% if tests_percentage.skipped_percent > 0 %}
                            <td style="width:{{ tests_percentage.skipped_percent }}%;background-color: #e8e616"></td>
                        {% endif %}
                        {% if tests_percentage.not_started_percent > 0 %}
                            <td style="width:{{ tests_percentage.not_started_percent }}%;background-color: #747576"></td>
                        {% endif %}
                    </tr>
                </table>

            </div>
        </div>
        {% endcomment %}

        <div class="ui center aligned grid">
            <div class="three column row">
                <div class="three wide left aligned column">
                    <div class="item">
                        <h4>Tests: {{ test_count }}</h4>
                    </div>
                </div>

                <div class="ten wide center aligned column">
                    <div class="item"><h4>
                    <span id="job_tests_passed">
                    {% if status != 1 %}
                        <a href="#table_positive_tests">Passed: {{ passed }}</a>
                    {% else %}
                        Passed: {{ passed }}
                    {% endif %}
                    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="job_tests_failed">
                    {% if status != 1 %}
                        <a href="#table_negative_tests">Failed: <span class="{% if failed > 0 %}test_failed{% else %}{% endif %}">{{ failed }}</span></a>
                    {% else %}
                        Failed: <span class="{% if failed > 0 %}test_failed{% else %}{% endif %}">{{ failed }}</span>
                    {% endif %}
                    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="job_tests_aborted">
                    {% if status != 1 %}
                        <a href="#table_negative_tests">Aborted: <span class="{% if aborted > 0 %}test_failed{% else %}{% endif %}">{{ aborted }}</span></a>
                    {% else %}
                        Aborted: <span class="{% if aborted > 0 %}test_failed{% else %}{% endif %}">{{ aborted }}</span>
                    {% endif %}
                    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="job_tests_skipped">
                    {% if status != 1 %}
                        <a href="#table_skipped_tests">Skipped: {{ skipped }}</a>
                    {% else %}
                        Skipped: {{ skipped }}
                    {% endif %}
                    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="job_tests_not_started">
                    {% if status != 1 %}
                        <a href="#table_not_started_tests">Not Started: {{ not_started }}</a>
                    {% else %}
                        Not Started: {{ not_started }}
                    {% endif %}
                    </span>
                    </h4></div>
                </div>

                <div class="three wide right aligned column"></div>

            </div>

        </div>

        <div class="sixteen wide column">
            <div class="ui divider"></div>
        </div>

        <div class="ui yellow message" id="job_finished_message" style="display: none">
            Job finished, please refresh the page.</div>

        <div class="ui grid" id="force_stop_job_div">
            <div class="ui fourteen wide column"></div>
            <div class="ui two wide column right aligned">
                <div class="header item">
                    {% if status == 1 %}
                        <a class="ui red label" id="force_stop_job" data-job-id="{{ uuid }}" data-job-force-stop-url=
                                "{% url 'job_force_stop' %}">Detach job</a>{% endif %}
                </div>
            </div>
        </div>

        {% if status == 1 %}
        <table class="ui very basic table">
            <thead>
            <tr>
                <th>&nbsp;&nbsp;Test Method</th>
                <th>Start Time</th>
                <th>Time Taken</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody id="tests_list">
            {% for item in tests.all %}
                <tr class="ui {% if item.status == 1%}{% endif %}{% if item.status == 2%}{% endif %}{% if item.status == 3%}positive{% endif %}{% if item.status == 4%}negative{% endif %}{% if item.status == 5%}warning{% endif %}{% if item.status == 6%}negative{% endif %}" data-tr-test="{{ item.uuid }}">
                    {% if fw == 1 %}
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}" title="{{ item.identity }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_nose }}</a></td>
                    {% elif fw == 2 %}
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}" title="{{ item.identity }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_pytest }}</a></td>
                    {% endif %}
                    <td data-td-start-time="{{ item.uuid }}"><a href="{%  url 'test' test_uuid=item.uuid  %}">
                        {% if item.get_start_time is not None %}
                            {{ item.get_start_time }}
                        {% else %}Pending...
                        {% endif %}
                    </a></td>
                    <td data-td-eta="{{ item.uuid }}"><a href="{%  url 'test' test_uuid=item.uuid  %}">
                        {% if item.status == 2 %}
                            {% if item.test.get_time_taken_eta is not None %}
                                ETA: {{ item.test.get_time_taken_eta }}
                            {% else %}
                                Pending...
                            {% endif %}
                        {% elif item.status == 1 %}
                            {% if item.test.get_time_taken_eta is not None %}
                                ETA: {{ item.test.get_time_taken_eta }}
                            {% else %}
                                Pending...
                            {% endif %}
                        {% else %}
                            {% if item.get_time_taken is not None %}
                                {{ item.get_time_taken }}
                            {% else %}
                                Pending...
                            {% endif %}
                        {% endif %}
                    </a></td>
                    <td data-td-status="{{ item.uuid }}"><a href="{%  url 'test' test_uuid=item.uuid  %}">
                        {% if item.status == 1%}<div class="ui gray basic label">Not Started</div>
                        {% elif item.status == 2%}<div class="ui blue basic label">In Progress</div>
                        {% elif item.status == 3%}<div class="ui green basic label">Passed</div>
                        {% elif item.status == 4 %}<span class="ui red basic label">Failed</span>
                        {% elif item.status == 5 %}<div class="ui yellow basic label">Skipped</div>
                        {% elif item.status == 6 %}<div class="ui red basic label">Aborted</div>
                        {% endif %}
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% endif %}

    {% if status != 1 %}
        {% if negative_tests > 0 %}
        <a class="ui red ribbon label" id="table_negative_tests">Failed tests: {{ negative_tests }}</a>
        <table class="ui very basic table">
            <thead>
            <tr>
                <th>&nbsp;&nbsp;Test Method</th>
                <th>Start Time</th>
                <th>Time Taken</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody id="tests_list">
            {% for item in tests.all %}
                {% if item.status != 3 and item.status != 1 and item.status != 5 %}
                <tr class="ui negative">
                    {% if fw == 1 %}
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}" title="{{ item.identity }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_nose }}</a></td>
                    {% elif fw == 2 %}
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}" title="{{ item.identity }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_pytest }}</a></td>
                    {% endif %}
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}">
                        {% if item.get_start_time is not None %}
                            {{ item.get_start_time }}
                        {% else %}0s
                        {% endif %}
                    </a></td>
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}">
                        {% if item.get_time_taken is not None %}
                            {{ item.get_time_taken }}
                        {% else %}0s
                        {% endif %}
                    </a></td>
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}">
                        {% if item.status == 4 %}<span class="ui red basic label">Failed</span>
                        {% elif item.status == 6 %}<div class="ui red basic label">Aborted</div>
                        {% endif %}
                    </a></td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if passed > 0 %}
        <a class="ui green ribbon label" id="table_positive_tests">Passed tests: {{ passed }}</a>
        <table class="ui very basic table">
            <thead>
            <tr>
                <th>&nbsp;&nbsp;Test Method</th>
                <th>Start Time</th>
                <th>Time Taken</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody id="tests_list">
            {% for item in tests.all %}
                {% if item.status == 3 %}
                <tr class="ui positive">
                    {% if fw == 1 %}
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}" title="{{ item.identity }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_nose }}</a></td>
                    {% elif fw == 2 %}
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}" title="{{ item.identity }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_pytest }}</a></td>
                    {% endif %}
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}">
                        {% if item.get_start_time is not None %}
                            {{ item.get_start_time }}
                        {% else %}Pending...
                        {% endif %}
                    </a></td>
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}">
                        {% if item.get_time_taken is not None %}
                            {{ item.get_time_taken }}
                        {% else %}0s
                        {% endif %}
                    </a></td>
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}">
                        <div class="ui green basic label">Passed</div>
                    </a></td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if skipped > 0 %}
        <a class="ui yellow ribbon label" id="table_skipped_tests">Skipped tests: {{ skipped }}</a>
        <table class="ui very basic table">
            <thead>
            <tr>
                <th>&nbsp;&nbsp;Test Method</th>
                <th>Start Time</th>
                <th>Time Taken</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody id="tests_list">
            {% for item in tests.all %}
                {% if item.status == 5 %}
                <tr class="ui warning">
                    {% if fw == 1 %}
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}" title="{{ item.identity }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_nose }}</a></td>
                    {% elif fw == 2 %}
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}" title="{{ item.identity }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_pytest }}</a></td>
                    {% endif %}
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}">
                        {% if item.get_start_time is not None %}
                            {{ item.get_start_time }}
                        {% else %}0s
                        {% endif %}
                    </a></td>
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}">
                        {% if item.get_time_taken is not None %}
                            {{ item.get_time_taken }}
                        {% else %}0s
                        {% endif %}
                    </a></td>
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}">
                        <div class="ui yellow basic label">Skipped</div>
                    </a></td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if not_started > 0 %}
        <a class="ui grey ribbon label" id="table_not_started_tests">Not started tests: {{ not_started }}</a>
        <table class="ui very basic table">
            <thead>
            <tr>
                <th>&nbsp;&nbsp;Test Method</th>
                <th>Start Time</th>
                <th>Time Taken</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody id="tests_list">
            {% for item in tests.all %}
                {% if item.status == 1 %}
                <tr>
                    {% if fw == 1 %}
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}" title="{{ item.identity }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_nose }}</a></td>
                    {% elif fw == 2 %}
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}" title="{{ item.identity }}">&nbsp;&nbsp;
                        {{ item.test.get_test_method_for_pytest }}</a></td>
                    {% endif %}
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}">
                        {% if item.get_start_time is not None %}
                            {{ item.get_start_time }}
                        {% else %}0s
                        {% endif %}
                    </a></td>
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}">
                        {% if item.get_time_taken is not None %}
                            {{ item.get_time_taken }}
                        {% else %}0s
                        {% endif %}
                    </a></td>
                    <td><a href="{%  url 'test' test_uuid=item.uuid  %}">
                        <div class="ui gray basic label">Not Started</div>
                    </a></td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}


        {% endif %}

    </div>

    <div class="one wide column">
    </div>

</div>

</body>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>

<script>
    let passed = {{ passed }};
    let failed = {{ failed }};
    let aborted = {{ aborted }};
    let not_started = {{ not_started }};
    let skipped = {{ skipped }};
    data = {
    datasets: [{
        data: [passed, failed, aborted, skipped, not_started],
        backgroundColor:
            ["rgb(0, 166, 0)","rgb(200, 0, 0)","rgb(200, 0, 0)","rgb(255, 200, 0)","rgb(130, 130, 130)"]
    }],


    labels: [
        'Passed',
        'Failed',
        'Aborted',
        'Skipped',
        'Not Started'
    ]
};
$(document).ready(function() {
        var ctx = $("#myChart");
        var myDoughnutChart = new Chart(ctx, {
            type: 'doughnut',
            data: data,
            options: {
                responsive: false,
                legend: {
                    display: false,
                    labels: {
                        fontColor: 'rgb(255, 99, 132)'
                    }
                }
            }
        });

});
</script>


<script type="application/javascript" src="{% static 'js/testgr/main/job_stop.js' %}"></script>
<script type="application/javascript" src="{% static 'js/testgr/main/running_jobs_count.js' %}"></script>
<script type="application/javascript" id="job_details" data-job-uuid="{{ uuid }}"
        src="{% static 'js/testgr/main/job_details.js' %}">
</script>
<script type="application/javascript" id="job_tests_details" data-job-uuid="{{ uuid }}"
        src="{% static 'js/testgr/main/job_tests_details.js' %}">
</script>
</html>