<html>

<head>

<title>TESTGR</title>

{% load static %}
{% load urlize_target_blank %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.css">

    <style>

        .identity{
            word-wrap: break-word;
        }
        .ui[class*="right pointing"].label{
            margin-top: 7px;
            margin-left: 0px;
            margin-bottom: 7px;
        }
        .ui.label.bug{
        margin-right: 5px;
        margin-bottom: 5px;
        margin-left: 0;
        word-wrap: break-word;
        }

        pre{
            font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
        }
    </style>

</head>

<body>

<div class="ui grid">

	<div class="sixteen wide column">
        <div class="ui fixed menu">
            <div class="item">
                <h3><a href="{%  url 'index' %}">TESTGR</a></h3>
            </div>
            <a href="{%  url 'index' %}" class="item active">Monitoring</a>
            <a href="{%  url 'search' %}" class="item">Search</a>
            <a href="{%  url 'history' %}" class="item">History</a>
            {% if request.user.is_staff %}
            <a href="{%  url 'management' %}" class="item">Management</a>
            {% else %}
            <a href="{%  url 'about_guest' %}" class="item">About</a>
            {% endif %}
            <div class="right menu" id="main_right_menu">
                {% if running_jobs_count > 0 %}
                <div class="item" id="running_jobs_count">
                <span>Active jobs: <strong>{{ running_jobs_count }}</strong></span>
                </div>
                {% else %}
                <div class="" id="running_jobs_count">
                </div>
                {% endif %}
                <div class="item">
                    <a href="https://github.com/and-sm/testgr" target="_blank">Github</a>
                </div>
            <a href="{%  url 'logout' %}" class="item">Logout</a>
            </div>
        </div>
	</div>

    <div class="sixteen wide column">
        <p>&nbsp;</p>
    </div>

    <div class="one wide column">
        <a href="{% url 'job' test_job.uuid %}">
        <div class="ui grid">
        <div class="ui sixteen wide center aligned column">
        <i class="angle large left icon"></i>
        </div>
        </div>
        </a>
    </div>

    <div class="three wide column">
        <h4>Test Details</h4>
        <div class="ui divider"></div>
        <div>

            <h5>Navigation:</h5>
            <div class="two ui buttons">
                    {% if previous_result %}<a href="{% url 'test' test_uuid=previous_result.uuid %}">{% endif %}
                    <button class="ui basic small {% if previous_result.status == 1 %}grey
                                                        {% elif previous_result.status == 2 %}blue
                                                        {% elif previous_result.status == 3 %}green
                                                        {% elif previous_result.status == 4 %}red
                                                        {% elif previous_result.status == 5 %}yellow
                                                        {% elif previous_result.status == 6 %}red
                                                        {% endif %} labeled icon button
                                {% if not previous_result %}disabled{% endif %}">
                        {% if not previous_result %}Not exists{% endif %}
                        {% if previous_result %}Previous result{% endif %}
                        <i class="left chevron icon"></i>
                        {% if previous_result.stop_time %}
                            <br />({{ previous_result.stop_time }})
                        {% elif not previous_result %}
                            <br /><br />
                        {% else %}
                            <br />(not started)&nbsp;
                        {% endif %}
                    </button>
                    {% if previous_result %}</a>{% endif %}
                    {% if next_result %}<a href="{% url 'test' test_uuid=next_result.uuid %}">{% endif %}
                    <button class="ui basic small {% if next_result.status == 1 %}grey
                                                        {% elif next_result.status == 2 %}blue
                                                        {% elif next_result.status == 3 %}green
                                                        {% elif next_result.status == 4 %}red
                                                        {% elif next_result.status == 5 %}yellow
                                                        {% elif next_result.status == 6 %}red
                                                        {% endif %} right labeled icon button
                                {% if not next_result %}disabled{% endif %}">
                        {% if not next_result %}Not exists{% endif %}
                        {% if next_result %}Next result{% endif %}
                        {% if next_result.stop_time %}
                            <br />({{ next_result.stop_time }})
                        {% elif not next_result%}
                            <br /><br />
                        {% else %}
                            <br />(not started)&nbsp;
                        {% endif %}
                        <i class="right chevron icon"></i>
                    </button>
                    {% if next_result %}</a>{% endif %}
            </div>
            <p></p>
            <a href="{% url 'job' test_job.uuid %}" target="_blank">Open job</a>

        <h5>
        {% if last_tests_count < 1 %}
        {% elif last_tests_count < 2 %}
            Last result:
        {% else %}
            Last {{last_tests_count}} results:
        {% endif %}
        </h5>

        {% if last_tests_count > 0 %}
        <div class="ui list">
        {% for item in last_10_tests %}
            <div class="item">
               <p>

               {% comment %}
               item.0 = uuid
               item.1 = status
               item.2 = stop_time
               {% endcomment %}

                   <i class="
                    {% comment %} Status: Failed or Aborted {% endcomment %}
                    {% if item.1 == 4 or item.1 == 6 %}circle red
                    {% comment %} Status: Passed {% endcomment %}
                    {% elif item.1 == 3 %}circle green
                    {% comment %} Status: Skipped {% endcomment %}
                    {% elif item.1 == 5 %}circle yellow
                    {% comment %} Status: Not started {% endcomment %}
                    {% elif item.1 == 1%}circle grey
                    {% comment %} Status: Running {% endcomment %}
                    {% elif item.1 == 2%}circle blue
                    {% endif %} icon"></i>

                    <a href="{% url 'test' test_uuid=item.0 %}">
                    {% comment %} status: Not started, stop_time: None {% endcomment %}
                    {% if item.1 == 1 and item.2 == None %}Not started
                    {% comment %} status: Running, stop_time: None {% endcomment %}
                    {% elif item.1 == 2 and item.2 == None %}Running
                    {% comment %} status: Aborted, stop_time: None {% endcomment %}
                    {% elif item.1 == 6 and item.2 == None %}Unknown date
                    {% else %}
                    {% if item.0 in request.path %}
                        <strong>{{item.2}}</strong>
                    {% else %}
                        {{item.2}}
                    {% endif %}
                    {% endif %}
                    </a>

               </p>
            </div>
        {% endfor %}
        </div>
        {% endif %}

        </div>

    </div>

    <div class="eleven wide column identity">

    <div class="ui grid">

        <div class="ui ten wide column">
        <span class="ui accordion">
            <span class="title ui large blue text">
                {{ test_class }}:<strong>{{ test_method }}</strong>
                <i class="caret down icon" id="accordion_caret"></i>
            </span>
            <div class="content">
                <div class="ui row>"></div>
                <h4>Execution path:</h4>
            <div class="transition hidden">
                {% for i in identity %}
                    {% if forloop.last %}
                        {% if status == 1 %}
                            <label class="ui gray label">
                        {% elif status == 2 %}
                            <label class="ui blue label">
                        {% elif status == 3 %}
                            <label class=" ui green label">
                        {% elif status == 4 %}
                            <label class="ui red label">
                        {% elif status == 5 %}
                            <label class="ui yellow label">
                        {% elif status == 6 %}
                            <label class="ui red label">
                        {% endif %}
                    {% else %}
                        <label class="ui basic right pointing label identity-class">
                    {% endif %}
                {{ i }}
                </label>
                {% endfor %}
            </div>
            </div>
        </span>
        </div>

        <div class="ui six wide column right aligned">
            <button class="ui grey basic button" id="btn_copy_method" data-clipboard-text="{{ test_method }}">
                <i class="copy outline icon"></i>
                Copy test name
            </button>
            <button class="ui grey basic button" id="btn_copy_path" data-clipboard-text="{{ full_path }}">
                <i class="copy outline icon"></i>
                Copy test full path
            </button>
        </div>

    </div>


        <div class="ui divider"></div>

        <div class="ui grid">
        <div class="ui sixteen wide column">
            {% if description %}<p>{{ description|urlize|urlize_target_blank }}</p>{% endif %}
            {% if status == 1 %}
                <span class="ui large gray label">Not started
            {% elif status == 2 %}
                <span class="ui large blue label">Running
            {% elif status == 3 %}
                <span class="ui large green label">Passed
            {% elif status == 4 %}
                <span class="ui large red label">Failed
            {% elif status == 5 %}
                <span class="ui large yellow label">Skipped
            {% elif status == 6 %}
                <span class="ui large red label">Aborted
            {% endif %}
        </span>
        {% if suppress %}
            <span class="ui large orange label">Report suppressed</span>
        {% endif %}
        </div>
        </div>

        {% if msg %}
        <div class="ui grid">
            <div class="ui sixteen wide floated column">
                <div class="ui {% if msg %}red{% endif %} segment">
                    <h4><span class="ui red text">Error:</span></h4>
                    <pre style="white-space:pre-wrap;">{{ msg|escape|linebreaksbr }}</pre>
                    <p></p>
                    {% if trace %}
                    <div class="ui section divider">
                    </div>
                    <pre>{{ trace|escape|linebreaksbr }}</pre>{% endif %}
                </div>
            </div>
        </div>
        {% endif %}

        <div class="ui grid">

            <div class="ui nine wide column">
                <div class="ui segment">

                    <h3 class="ui header">
                        <i class="play circle outline icon"></i>
                        <div class="content">Run details</div>
                    </h3>

                    <div class="ui row">&nbsp;</div>

                    <div class="ui grid">
                        <div class="six wide column">
                            <div class="ui bulleted list">
                                <div class="item"><strong>Environment:</strong>
                                </div>
                                <div class="item"><strong>Test start:</strong>
                                </div>
                                <div class="item"><strong>Test stop:</strong>
                                </div>
                                <div class="item"><strong>Time taken:</strong>
                                </div>
                                <div class="item"><strong>Custom data:</strong>
                                </div>
                            </div>
                        </div>

                        <div class="six wide column">
                            <div class="ui list">
                                <div class="item">
                                    {{ env }}
                                </div>
                                <div class="item">
                                    {% if start_time is not None %}{{ start_time }}{% else %}Pending...{% endif %}
                                </div>
                                <div class="item">
                                    {% if stop_time is not None %}{{ stop_time }}{% else %}Pending...{% endif %}
                                </div>
                                <div class="item">
                                    {% if time_taken is not None %}{{ time_taken }}{% else %}Pending...{% endif %}
                                </div>
                                <div class="item">
                                    {% for key, value in custom_data %}
                                        <div class="item" style="word-wrap: break-word;"><strong>{{ key }}:
                                        </strong>{{ value|urlize|urlize_target_blank }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="ui divider"></div>

                    <h3 class="ui header">
                        <i class="chart line icon"></i>
                        <div class="content">Statistics</div>
                    </h3>

                    <div class="ui row">&nbsp;</div>

                    <div class="ui grid">
                        <div class="six wide column">
                            <div class="ui bulleted list">
                                <div class="item"><strong>Last success:</strong>
                                </div>
                                <div class="item"><strong>Last fail:</strong>
                                </div>
                                <div class="item"><strong>Exec. time based on last 3 attempts:</strong></div>
                            </div>
                        </div>
                        <div class="six wide column">
                            <div class="ui list">
                                <div class="item">
                                    {% if not last_success %}Never{% else %}<a href="{% url 'test' test_uuid=last_success.0 %}">
                                        {{ last_success.2 }}</a>{% endif %}
                                </div>
                                <div class="item">
                                    {% if not last_fail %}Never{% else %}<a href="{% url 'test' test_uuid=last_fail.0 %}">{{ last_fail.2 }}</a>
                                    {% endif %}
                                </div>
                                <div class="item">
                                    {% if storage_data.get_time_taken_eta is not None %}
                                        {{ storage_data.get_time_taken_eta }}
                                    {% else %}
                                        Data is yet unknown
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            {% if note or bugs.all %}
            <div class="ui seven wide column">
                <div class="ui segment">
                    {% if note %}
                        <h3 class="ui header">
                            <i class="file alternate outline icon"></i>
                            <div class="content">Note</div>
                        </h3>
                        <div class="ui row">&nbsp;</div>
                        <div class="ui grid">
                            <div class="sixteen wide column">{{ note|urlize|urlize_target_blank }}</div>
                        </div>
                    {% endif %}
                    {% if note and bugs.all %}
                    <div class="ui divider"></div>
                    {% endif %}
                    {% if bugs.all %}
                        <h3 class="ui header">
                            <i class="bug icon"></i>
                            <div class="content">Bugs</div>
                        </h3>
                        <div class="ui row">&nbsp;</div>
                        <div class="ui grid">
                            <div class="sixteen wide column">
                                {% for bug in bugs.all %}<div class="ui label bug">{{ bug.bug }}</div>{% endfor %}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}

            </div>

    </div>

    <div class="one wide column">
    </div>

</div>

</body>

<script type="application/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>

<script type="application/javascript" src="{% static 'js/testgr/main/running_jobs_count.js' %}"></script>

<script>
$('.ui.accordion')
  .accordion({

      onChanging: function()
      {
          if($('#accordion_caret').attr('class') === 'caret up icon') {
              $('#accordion_caret').attr('class', 'caret down icon')
          }
          else{
              $('#accordion_caret').attr('class', 'caret up icon')
              }
          }
  }
)
</script>

<script>
new ClipboardJS('#btn_copy_method');
</script>

<script>
new ClipboardJS('#btn_copy_path');
</script>

<script>
$("#btn_copy_path").on("click", function() {$("#btn_copy_path").transition('pulse');
});
$("#btn_copy_method").on("click", function() {$("#btn_copy_method").transition('pulse');
});
</script>

</html>